<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>PyDrink</title>
    <link rel="stylesheet" type="text/css" href="/webfiles/reset.css">
    <link rel="stylesheet" type="text/css" href="/webfiles/style.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <style>
        @font-face{
    font-family: roboto;
    local("roboto"),
    src: url("webfiles/Roboto-Black.ttf");
}
    </style>
</head>
<body>
<h1>PyDrink</h1>

%%layout_content%%

</body>
</html>
<script>
    //setTimeout(function () {        window.location.reload(1);    }, 5000);
</script>