<h1><span style="font-size: 0.5em;">Make drink</span> %%drink_name%%</h1>
<p style="text-align: center;padding-bottom: 20px; margin-top: 30px;">TEstovaci popis drinku</p>
<h2>Place cup into blue holder and press START</h2>


<div class="buttons_footer" style="width: 100%">
    <div class="button_left">
        <a href="/home">
            <div style=" height: 120px" class="vertical_texet_center_parent">
                <div style=" height: 120px;width: 200px;" class="vertical_texet_center_child">
                    RETURN
                </div>
            </div>
        </a>
    </div>
    <div class="button_right">
        <a href="/makingdrink/%%drink_id%%">
            <div style=" height: 120px" class="vertical_texet_center_parent">
                <div style=" height: 120px; width: 200px;" class="vertical_texet_center_child">
                    START
                </div>
            </div>
        </a>
    </div>
</div>